.socials {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 20px;
    border: 2px solid #99ff99;
    width: fit-content;
    margin: 0 auto;
    gap: 20px;
}
.section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    gap: 10px;
}


.main-socials .social {
    padding: 10px 20px;
}
.main-socials .social a,
.main-socials .social p {
    text-decoration-line: none;
    margin: 0;
    line-height: 1.15rem;
}
.less-socials {
    margin-top: 10px;
}
.less-socials .social {
    padding: 5px 10px;
}
.less-socials .social a,
.less-socials .social p {
    text-decoration-line: none;
    margin: 0;
    font-size: 0.85rem;
    line-height: 1rem;
}
.name {
    font-weight: lighter;
}
/*
.social.rob0face {
    background-color: #407240;
}
.social.robofacenet {
    background-color: #724072;
}
.social.geonjungdave {
    background-color: #333333;
}
*/
.main-socials .social {
    background-color: #407240;
}
.less-socials .social {
    background-color: #333333;
}