/*
 *  FONTS
 */
.header-light {
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.header-regular {
  font-family: "Dongle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.header-bold {
  font-family: "Dongle", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.script-kr {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.script-en {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-weight: 500;
  font-style: normal;
}
.body-kr {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.body-en {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: 200;
  font-style: normal;
}
.outlined-text {
  font-family: "Moirai One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.parted-text-default {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" -30;
  letter-spacing: -0.075em;
}

/*
 *  DEFAULT TEXT STYLES
 *  Note: Almost every pages override text styles, especially for margin and color.
 */
h1 {
  font-size: 3rem;
  line-height: 1;
  color: #99ff99;
}
h2 {
  font-size: 2rem;
  line-height: 1;
  color: #99ff99;
}
h3 {
  font-size: 1.25rem;
  line-height: 1;
  color: #99ff99;
}
p {
  color: #ffffff;
}
a {
  font: 500 1rem "IBM Plex Sans KR", sans-serif;
  color: #ff99ff;
  text-decoration: underline;
  text-underline-offset: 4px;
  line-height: 1;
}
a:hover {
  font-weight: 700;
  cursor: pointer;
}

/*
 *  VARIOUS TEXT SPAN STYLES
 */
.unavailable-green-text {
    color: #203620;
}
.javascript {
    background-color: #f0db4f;
    color: #323330;
    padding: 0px 4px;
    border-radius: 4px;
}

/*
 *  BACKGROUND
 */
html {
  background-color: #000000;
}
body {
  background: url("/background_rob0facePatternGreen.jpg") repeat center center;
  background-attachment: fixed;
}
@media (min-width: 768px) {
  body {
    background-size: cover;
  }
}

/*
 *  GENERIC PARAGRAPH BOX
 */
.paragraph-box {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  box-sizing: border-box;
}
.paragraph-box.fit-content {
  width: fit-content;
  padding: 20px 20px;
  margin: 0 auto;
}
.paragraph-box.rounded {
  border-radius: 10px;
}
.paragraph-box.purple {
  border-top: #724072 8px double;
}
.paragraph-box.purple.bottom {
  border-bottom: #724072 8px double;
}
.paragraph-box.purple h1, .paragraph-box.purple h2, .paragraph-box.purple h3, .paragraph-box.purple a {
  color: #ff99ff;
}
.paragraph-box.green {
  border-top: #407240 8px double;
}
.paragraph-box.green.bottom {
  border-bottom: #407240 8px double;
}
.paragraph-box.green h1, .paragraph-box.green h2, .paragraph-box.green h3, .paragraph-box.green a {
  color: #99ff99;
}
.paragraph-box.fixed-width-600 {
  width: 600px;
  max-width: 90vw;
  margin: 0 auto;
}

/*
 *  GENERIC SPACER
 */
.spacer {
    height: 2rem;
}
.left-align {
    text-align: left;
}